<div class="card-row">
    <div class="card-col">
        <nb-card size="tiny">
            <nb-card-header>
                <h4>Expert-Rec User Login</h4>
            </nb-card-header>
            <nb-card-body>
                <p class="loginText">Sign In With</p>
                <span class="login-button" (click)="signInWithGoogle()"><img
                        style="background: white; padding: 2px; border-radius: 50%;" width="40px" width="40px"
                        src="../../../assets/icons8-google.svg" alt="google"></span>
            </nb-card-body>
        </nb-card>
    </div>
</div>