:host {
  display: block;
  max-height: 80rem;
  overflow-x: hidden;
  overflow-y: auto;
}

.card-row {
  display: flex;
  margin: 0 -0.5rem;
}

.card-col {
  flex: .2 0 calc(50% - 1rem);
  margin: 2rem 20rem;
}

.loginText{
    text-align: center;
}
.login-button{
  margin-left: 46%;
  cursor: pointer;
}


table tbody tr td{
    padding: 5px;
}